<div class="col-md-5 ">
    <div class="panel panel-info">
        
        <div class="panel-heading" class="bg-primary">
            <div class="panel-title">
                <h3  class="text-center"> 
                {{ v.titulo2 }}
                <i class="glyphicon glyphicon-fire"></i>

                </h3>
            </div>
        </div>


        <div class="panel-body">

            <form class="form-horizontal">
                
                <div ng-repeat=" list in v.lista "   >
                
                <div class="col-md-8 "  >
                    
                    <input  ng-value="list"  type="text" class="form-control"  disabled  placeholder="resultado"    >

                </div>

                 <div class="col-md-3 ">


                  <button class="btn btn-info btn-block"  ng-click="v.btnEliminar(list)"    > 
                       Eliminar  <i class="glyphicon glyphicon-fire" ></i> 
                    </button>
                  </div>



                    <br>
                    <br>

                </div>

            </form>
            
        </div><!-- panel body -->


        <div class="panel-footer text-center">
            {{v.footer}}
        </div>


    </div>
</div>
